*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100dvh;
    width: 100dvw;
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    color: rebeccapurple;
}

#shadow {
    background-color: black;
    height: 300dvh;
    width: 300dvw;
    position: absolute;
    z-index: 1;
    mask-image: radial-gradient(circle, transparent, black 33dvw);
    transform: translate(-50%, -50%);
}

#player {
    height: 100dvh;
    width: 100dvw;
    border: 2px solid black;
    box-shadow: 10px 10px black;
}