*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100dvh;
    width: 100dvw;
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#iframe {
    pointer-events: none;
    position: relative;
}

/* #iframe::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: red;
} */

#shadow {
    --transparent: 25dvh;
    --shadows: 35dvh;
    /* background-color: black; */
    height: 300dvh;
    width: 300dvw;
    position: absolute;
    z-index: 1;
    /*---
    Title: info on mask-image
    Description: The mask-image property in CSS allows you to create a mask layer over an element, partially or fully hiding portions of it. You can use various types of images as the mask layer, including PNG images, SVG images, CSS gradients, or SVG <mask> elements.
    ---*/
    /* mask-image: radial-gradient(url('../images/heart.png'), transparent var(--transparent), black var(--shadows)); */
    -webkit-mask-image: url('../heart.svg');
    mask-image: url('../heart.svg');

    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 35% 35%;
    transform: translate(-50%, -50%);
    cursor: none;
}

#player {
    height: 100dvh;
    width: 100dvw;
    border: 2px solid black;
    box-shadow: 10px 10px black;
}

#heart {
    display: none;
}